<div class="dashboard-container">
  <header class="dashboard-header">
    <div class="header-left">
      <img src="assets/logo.png" alt="Logo" class="logo-img" />
      <span class="dashboard-title">Parc de gestion des équipements</span>
    </div>
    <div class="user-info" *ngIf="currentUser">
      <span>{{ currentUser.nom }} {{ currentUser.prenom }}</span>
      <span class="user-role">{{ currentUser.role }}</span>
      <button class="logout-button" (click)="logout()">Déconnexion</button>
    </div>
  </header>

  <main class="dashboard-content">
    <div class="dashboard-cards">

      <div *ngIf="isAdminIT" class="card" (click)="navigateToUserManagement()">
        <div class="card-icon">👥</div>
        <h2>Gérer les Utilisateurs</h2>
      </div>

      

      <div class="card" (click)="navigateTo('/equipment')">
        <div class="card-icon">🔧</div>
        <h2>Gérer les Équipements</h2>
      </div>
      <div class="card" (click)="navigateTo('/movements')">
        <div class="card-icon">🔄</div>
        <h2>Gérer le Mouvement des Équipements</h2>
      </div>

      <div class="card" (click)="navigateTo('/codification')">
        <div class="card-icon">📋</div>
        <h2>Gérer les tables de Codification</h2>
      </div>

    </div>
  </main>
</div>
